In [19]:
import numpy as np

In [20]:
import pandas as pd

In [21]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
!wget -O drug200.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/drug200.csv

--2020-05-08 11:50:36--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/drug200.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6027 (5.9K) [text/csv]
Saving to: ‘drug200.csv’

drug200.csv         100%[===================>]   5.89K  --.-KB/s    in 0s

2020-05-08 11:50:36 (12.3 MB/s) - ‘drug200.csv’ saved [6027/6027]

In [23]:
my_data=pd.read_csv("drug200.csv",delimiter=",")

In [24]:
my_data[0:5]

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [25]:
size=my_data.size()

TypeError: 'numpy.int64' object is not callable

In [26]:
X=my_data[['Age','Sex','BP','Cholesterol','Na_to_K','Drug']].values

In [27]:
X[0:5]

array([[23, 'F', 'HIGH', 'HIGH', 25.355, 'drugY'],
       [47, 'M', 'LOW', 'HIGH', 13.093, 'drugC'],
       [47, 'M', 'LOW', 'HIGH', 10.113999999999999, 'drugC'],
       [28, 'F', 'NORMAL', 'HIGH', 7.797999999999999, 'drugX'],
       [61, 'F', 'LOW', 'HIGH', 18.043, 'drugY']], dtype=object)

In [28]:
y=my_data["Drug"]
y[0:5]

0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
Name: Drug, dtype: object

In [29]:
from sklearn import preprocessing

In [30]:
from sklearn import preprocessing
le_sex = preprocessing.LabelEncoder()
le_sex.fit(['F','M'])
X[:,1] = le_sex.transform(X[:,1]) 


le_BP = preprocessing.LabelEncoder()
le_BP.fit([ 'LOW', 'NORMAL', 'HIGH'])
X[:,2] = le_BP.transform(X[:,2])


le_Chol = preprocessing.LabelEncoder()
le_Chol.fit([ 'NORMAL', 'HIGH'])
X[:,3] = le_Chol.transform(X[:,3]) 

X[0:5]

array([[23, 0, 0, 0, 25.355, 'drugY'],
       [47, 1, 1, 0, 13.093, 'drugC'],
       [47, 1, 1, 0, 10.113999999999999, 'drugC'],
       [28, 0, 2, 0, 7.797999999999999, 'drugX'],
       [61, 0, 1, 0, 18.043, 'drugY']], dtype=object)